 * {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
   -o-box-sizing: border-box;
 }

 body {
   height: 1500px;
 }

 /* Navbar links */
 .nav-item {
   color: #fff;
   font-size: 20px;
 }

 .navbar-dark .navbar-nav .nav-link {
   color: #fff;
 }

 .navbar-right li a {
   color: #fff;
 }

 /* Front page */
 .front-page {
   margin-top: 1px;
 }


 /* All Product page */
 .all_products .btn-secondary {
   /* border-color:transparent; */
   background: none;
   color: #000 !important;
 }


 /* .all_products .col-md-4 {
   -ms-flex: 0 0 33.333333%;
   flex: 0 0 30.333333%;
   max-width: 30.333333%;
 } */



 /* Start of Cart item style */
 .cart-items {
   position: relative;
   display: flex;
   justify-content: flex-end;
   flex-direction: column;
   float: right;
 }

 .cart-items .badge-danger {
   border-radius: 50px;
   border-radius: 50px;
   font-size: 11px;
   margin-top: 4px;
   position: absolute;
   margin-left: -4px;
 }

 .cart-items img {
   width: 30px;
   height: 30px;
   border-radius: 50px;
   display: flex;
   float: left;

 }

 .cart-items .item-title {
   display: flex;
 }

 @media(max-width: 768px) {
   .cart-items {
     width: 100%;
     position: relative;
     display: block;

   }

 }

 /* End of Cart item style */








 /* filter-component style */
 .filter-component {
   margin-bottom: 20px;
 }

 @media(max-width:768px) {
   .filter-component {
     margin-bottom: 100px;
   }
 }


 /* Checkout form container */

 .checkout-form-container{
   position: relative;
 }
 .checkout-form-container label{
   font-weight: bold;
 }

 /* Footer */
 .footer {
   background-color: rgb(51, 50, 50);
   color: #fff;
   height: 60px;
   line-height: 20px;
   margin-top: 200px;
   padding: 20px 0px 0px 0px;
   text-align: center;
   font-size: 10px;
 }